RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /test2-contact-api/index.php?/$1 [L]

php_value upload_max_filesize 100000000
php_value post_max_size 100000000